body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

input[type="text"], input[type="submit"], input[type="number"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

input[type="radio"], input[type="checkbox"] {
    margin: 10px 5px;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}

label {
    font-size: 14px;
    color: #555;
}

.radio-group, .checkbox-group {
    margin: 15px 0;
}

.radio-group label, .checkbox-group label {
    margin-right: 10px;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 5px;
}
