<div class="container">
    <table class="table text-center">
        <thead>
            <tr class="table-dark">
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each students}}
            <tr>
                <td>{{id}}</td>
                <td>{{nombre}}</td>
                <td>{{age}}</td>
                <td>Acciones</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>