<main class="mt-5">
    <div class="container">
        <div class=" card mx-auto">
            <img src="/image/logo-vector.jpg" alt="Logo" style="width: 500px;">
            <h1>CRUD con Node JS y MySQL</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit, vero dicta hic provident eius, cupiditate ipsa sed magni necessitatibus voluptatem dolorum beatae maxime debitis blanditiis eum at inventore sequi reiciendis?</p>
            <a href="#" class="btn btn-primary">Crear un estudiante</a>
        </div>
    </div>
</main>

