<main class="mt-5">
    <div class="container">
        <div class="card mx-auto">
            <img src="/img/logo.jpg" alt="logo" style="width: 100px;">
            <h1>CRUD con Node JS y MYSQL</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat tempora sunt officiis nemo, et cupiditate modi neque, consequatur voluptate voluptas labore impedit exercitationem libero est in accusantium soluta facere mollitia.</p>
            <a href="#" class="btn btn-primay">Crear un estudiante</a>
                    </div>
    </div>
</main>